$bg: rgba(244, 245, 249, 1);
$blueBlack: rgba(66, 86, 122, 1);
$blueBlackSemi: rgba(66, 86, 122, 0.5);
$blueBlackCircle: rgba(66, 86, 122, 0.2);
$blueBlackBorder: rgba(66, 86, 122, 0.1);
$blue: rgba(56, 119, 238, 1);
$pink: rgba(239, 93, 168, 1);
$grayBorder: rgba(199, 205, 217, 1);
