@import "src/assets/scss/param";

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 53rem;
  height: 53rem;
  border-radius: 100%;
  border: 1px solid $blueBlackCircle;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out;
}

@keyframes showName {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

.item {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 2rem;
  line-height: 3rem;
  transition: transform 1s ease-in-out;

  &.active,
  &:hover {
    > .index {
      transform: scale(1);

      &:before {
        opacity: 0;
      }
    }
  }

  &.active {
    > .name {
      opacity: 1;
      visibility: visible;
      animation: showName 1s linear;
    }
  }
}

.index {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid $blueBlackSemi;
  border-radius: 100%;
  background-color: white;
  transform: scale(.15);
  transition: transform .3s ease;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: $blueBlack;
    transition: opacity .3s ease;
  }
}

.name {
  position: absolute;
  left: calc(100% + 2rem);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 48em) {
  .main {
    display: none;
  }
}